@media print{
  * html .pageminwidth{
    padding-left: 0;
  }

  * html .pagecontainer{
    margin-left: 0;
    position: inherit;
  }

  * html .pageminwidth, * html .pagecontainer, * html .pagelayout{
    height: inherit;
  }
}
.playgrnd{
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}

.playgrnd .caption img{
  margin-right: 5px;
}

.playgrnd span{
  text-decoration: none;
  font-family: Verdana;
  font-size: x-small;
}

.playgrnd span,.playgrnd *{
  vertical-align: middle;
}

.playgrnd .pipe{
  color: #00c;
}

.playgrnd .caption a:active,.playgrnd .caption a:link,.playgrnd .caption a:visited,.playgrnd .caption a:hover{
  font-weight: bold;
  color: #909;
}

.playgrnd .caption .pipe{
  color: #999;
}

.playgrnd a:active,.playgrnd a:link,.playgrnd a:visited{
  text-decoration: none;
  color: #00c;
}

.playgrnd a:hover{
  text-decoration: underline;
  color: #00c;
}

.cRCP-rcp .cRCP-n{
  position: relative;
  background-color: #e8e8e8;
}

.cRCP-rcp .cRCP-n .cRCP-e{
  position: relative;
  background-image: url(imgRndCnrBlank.gif);
  background-repeat: no-repeat;
  background-position: 100% -5px;
}

.cRCP-rcp .cRCP-n .cRCP-w{
  position: relative;
  height: 5px;
  font-size: 0;
  background-image: url(imgRndCnrBlank.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cRCP-rcp .cRCP-s{
  position: relative;
  background-color: #e8e8e8;
}

.cRCP-rcp .cRCP-s .cRCP-e{
  position: relative;
  background-image: url(imgRndCnrBlank.gif);
  background-repeat: no-repeat;
  background-position: 100% -10px;
}

.cRCP-rcp .cRCP-s .cRCP-w{
  position: relative;
  height: 5px;
  font-size: 0;
  background-image: url(imgRndCnrBlank.gif);
  background-repeat: no-repeat;
  background-position: 0 -15px;
}

.cRCP-rcp .cRCP-head{
  position: relative;
  padding: 0 6px 6px 8px;
  color: #5d5d5d;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  background-color: #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.cRCP-rcp .cRCP-mid{
  position: relative;
  background-color: #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.cRCP-rcp .cRCP-padFull{
  padding: 0 4px 4px;
}

.cRCP-rcp .cRCP-padLeft4{
  padding: 0 4px;
}

.cRCP-rcp .cRCP-padSimple{
  padding: 0 4px;
}

.cRCP-padRtm{
  margin: 3px 0 1px 10px;
  padding: 0;
}

.cRCP-rcp .cRCP-foot{
  position: relative;
  padding: 6px 15px 0 6px;
  text-align: right;
  background-color: #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.cRCP-rcp .cRCP-s_nf{
  position: relative;
  background-color: #e8e8e8;
  border: 0;
}

.cRCP-rcp .cRCP-s_nf .cRCP-e{
  position: relative;
  background: transparent url(imgGreybackBtmRt.gif) no-repeat bottom right;
}

.cRCP-rcp .cRCP-s_nf .cRCP-w{
  position: relative;
  height: 5px;
  font-size: 0;
  background: transparent url(imgGreybackBtmLf.gif) no-repeat bottom left;
}

.ghtl{
  background: white url(imgTransRCPinRCP.gif) no-repeat scroll 0 0;
}

.ghtr{
  background: url(imgTransRCPinRCP.gif) no-repeat scroll 100% -12px;
}

.ghtc{
  font-size: 0;
  height: 6px;
}

.ghbl{
  background: white url(imgTransRCPinRCP.gif) no-repeat scroll 0 -24px;
}

.ghbr{
  padding-left: 6px;
  padding-right: 6px;
  background: url(imgTransRCPinRCP.gif) no-repeat scroll 100% -36px;
}

.ghbc{
  font-size: 0;
  height: 6px;
  background: url(imgTransRCPinRCPShadBtm.gif) repeat-x 0 0;
}

.srchBox{
  padding-top: 9px;
  background-color: #fff;
}

.srchBox .searchOptions{
  padding-top: 10px;
  padding-bottom: 4px;
  margin-left: 15px;
}

.prespace{
  margin-right: 15px;
  font-size: 1px;
  visibility: hidden;
}

.srchBox .srchfld{
  width: 45%;
  margin-right: 4px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #7b9ab7;
  outline: none;
  padding: 2px;
}

.srchBoxSimple .srchfld{
  width: 280px;
  margin-right: 4px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #7b9ab7;
  outline: none;
  padding: 2px;
}

.categoryDropdown{
  width: 190px;
  font-family: arial;
  font-size: 13px;
  color: #000;
  line-height: 16px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #7b9ab7;
  outline: none;
  padding: 1px;
}

.srchBox .searchButton{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 13px;
  font-family: Arial;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.srchBoxSimple .searchButton{
  margin-left: 10px;
  margin-right: 10px;
  font-size: small;
  font-family: Arial;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.advanceSearch{
  font-family: arial;
  font-weight: bold;
  font-size: 13px;
  color:#0040b2!important;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
}

.space5{
  margin-right: 5px;
}

.space6{
  margin-left: 6px;
}

.space10{
  margin-right: 10px;
}

.space15{
  margin-right: 15px;
}

.searchForm{
  display: inline;
}

.acrc-roundcont{
  display: none;
  position: absolute;
  z-index: 1;
}

.acrc-roundbottom{
  background: url(imgAutofillLLGrey.gif) no-repeat top left;
  padding-left: 5px;
}

.acrc-roundbottomright{
  background: url(imgAutofillLRGrey.gif) no-repeat top right;
  padding-right: 5px;
}

.acrc-roundbottomMiddle{
  border-color: #7c7c7c;
  border-style: solid;
  border-width: 0 0 1px 0;
  font-size: 1px;
  height: 4px;
  background-color: #fff;
}

.acrc-roundoutside{
  border-color: #7c7c7c;
  border-style: solid;
  border-width: 0 1px 0 1px;
}

.acrc-roundtopside{
  border-color: #7c7c7c;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.ac-ac_div{
  display: none;
  position: relative;
  left: -10px;
  padding: 2px;
  margin-right: 0;
  border-color: #7f9db9;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  width: 18px;
  cursor: pointer;
  background: transparent url(iconAutofillDown_12x10.gif) no-repeat center;
  background-color: white;
}

.srchBox .ac-ac_div{
  left: -8px;
  margin-left: 4px;
  margin-right:-4px!important;
  vertical-align: middle;
}

.srchBoxSimple .ac-ac_div{
  left: -8px;
  margin-left: 4px;
  margin-right:-4px!important;
  vertical-align: middle;
}

.ac-ac_mo_div{
  display: none;
  position: relative;
  left: -10px;
  padding: 2px;
  margin-right: 0;
  border-color: #7f9db9;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  width: 18px;
  cursor: pointer;
  background: transparent url(iconAutofillDown_12x10.gif) no-repeat center;
  background-color: white;
}

.srchBox .ac-ac_mo_div{
  left: -2px;
  margin-right:-2px!important;
}

.srchBoxSimple .ac-ac_mo_div{
  left: -2px;
  margin-right:-2px!important;
}

.acl{
  width: 233px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-align: left;
}

.acl .hide{
  display: none;
}

.acl .hl{
  font-weight: bold;
  color: #00c;
}

.acl .sel{
  background-color: #e0edff;
  padding: 0 5px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.acl .unsel{
  background-color: #fff;
  padding: 0 5px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.acl tr.sel{
  padding: 0;
  overflow: visible;
  white-space: normal;
}

.acl tr.unsel{
  padding: 0;
  overflow: visible;
  white-space: normal;
}

.acl div.sug{
  line-height: 18px;
  padding: 5px 5px;
  background-color: #fff;
  color: #5d5d5d;
}

.acl div.nosug{
  line-height: 18px;
  padding: 5px 10px;
  background-color: #fff;
  color: #5d5d5d;
}

.acl div.affooter{
  text-align: right;
  height: 12px;
  background-color: #fff;
  padding-top: 3px;
  border-top: 1px solid #e7e7e7;
}

.acl a.hlink{
  background: url(iconAutofillUp_12x10.gif) no-repeat right;
  padding-right: 25px;
  margin-right: 13px;
  font-family: Verdana;
  font-size: x-small;
  color: #5d5d5d;
  text-decoration: none;
}

.acl a.hlink:hover{
  text-decoration: underline;
}

.acl .prd{
  font-family: Verdana;
  font-size: x-small;
  padding: 5px;
}

.acl .prd .ptl{
  padding: 0 3px;
  background-color: #fff;
  position: relative;
  top: -5px;
}

.acl .prd .pln{
  text-align: center;
  line-height: 6px;
  color: #999;
  border-top: 1px solid #e7e7e7;
}

.acl .prd .hl{
  font-size: x-small;
}

.acl .prd td{
  color: #333;
}

.cStrImg{
  background-image: url(imgMiniTitleClassifieds.gif);
  width: 73px;
  height: 21px;
}

.aStrImg{
  background-image: url(imgMiniTitleAuctions.gif);
  width: 73px;
  height: 21px;
}

.autoStrImg{
  background-image: url(imgMiniTitleAuto.gif);
  width: 73px;
  height: 21px;
}

.rStrImg{
  background-image: url(imgMiniTitleRealEstate.gif);
  width: 73px;
  height: 21px;
}

.cAImg{
  background-image: url(iconMiniClassifieds.gif);
  background-position: 0 -52px;
  width: 26px;
  height: 21px;
  margin: 0 10px;
}

.aAImg{
  background-image: url(iconMiniAuctions.gif);
  background-position: 0 -52px;
  width: 15px;
  height: 21px;
  margin: 0 10px;
}

.autoAImg{
  background-image: url(iconMiniAuto.gif);
  background-position: 0 -52px;
  width: 26px;
  height: 21px;
  margin: 0 10px;
}

.rAImg{
  background-image: url(iconMiniRealEstate.gif);
  background-position: 0 -52px;
  width: 26px;
  height: 21px;
  margin: 0 10px;
}

.sepImg{
  background-image: url(imgMiniVertPole.gif);
  width: 3px;
  height: 21px;
  margin: 0 15px 0 10px;
}

.aImg{
  background-image: url(iconMiniAuctions.gif);
  width: 15px;
  height: 21px;
}

.rImg{
  background-image: url(iconMiniRealEstate.gif);
  width: 26px;
  height: 21px;
}

.autoImg{
  background-image: url(iconMiniAuto.gif);
  width: 26px;
  height: 21px;
}

.cImg{
  background-image: url(iconMiniClassifieds.gif);
  width: 26px;
  height: 21px;
}

.aImg:hover{
  background-image: url(iconMiniAuctions.gif);
  background-position: 0 -26px;
  width: 15px;
  height: 21px;
}

.rImg:hover{
  background-image: url(iconMiniRealEstate.gif);
  background-position: 0 -26px;
  width: 26px;
  height: 21px;
}

.autoImg:hover{
  background-image: url(iconMiniAuto.gif);
  background-position: 0 -26px;
  width: 26px;
  height: 21px;
}

.cImg:hover{
  background-image: url(iconMiniClassifieds.gif);
  background-position: 0 -26px;
  width: 26px;
  height: 21px;
}

.noHImg{
  background-image: url(imgMiniGoToEbay.gif);
  width: 130px;
  height: 21px;
}

.aStrHImg{
  background-image: url(imgMiniGoToEbayAuctions.gif);
  width: 130px;
  height: 21px;
}

.rStrHImg{
  background-image: url(imgMiniGoToEbayImmo.gif);
  width: 130px;
  height: 21px;
}

.autoStrHImg{
  background-image: url(imgMiniGoToEbayAuto.gif);
  width: 130px;
  height: 21px;
}

.cStrHImg{
  background-image: url(imgMiniGoToEbayClassifieds.gif);
  width: 130px;
  height: 21px;
}

.barC a{
  margin: 0 10px 0 5px;
}

.barC *{
  float: right;
  background-repeat: no-repeat;
}

.menuCon{
  background-color: white;
}

.cBrnd{
  margin: 0 0 4px;
  line-height: 0;
  border-bottom: 1px solid #cacaca;
  height: 0;
}

.cDWelcome{
  font-family: Arial;
  font-size: x-large;
  color: #5d5d5d;
}

.cBSep{
  padding-bottom: 4px;
  border-bottom: 1px solid #cacaca;
}

.tnav{
  padding-bottom: 29px;
  border-bottom: 1px solid #bed3e6;
  width: 100%;
  height: 0;
  line-height: 0;
}

.menuLb{
  background-image: url(imgTopnavDDLSide.gif);
  background-repeat: repeat-y;
}

.menuRb{
  background-image: url(imgTopnavDDRSide.gif);
  background-repeat: repeat-y;
}

.menuBb{
  background-image: url(imgTopnavDDBtmShad.gif);
  background-repeat: repeat-x;
}

body{
  margin-top:0!important;
  padding-top:0!important;
}

.pagewidth{
  width: 100%;
  min-width: 760px;
}

* html .pageminwidth{
  padding-left: 760px;
}

* html .pagecontainer{
  margin-left: -760px;
  position: relative;
}

* html .pageminwidth, * html .pagecontainer, * html .pagelayout{
  height: 1px;
}

#Shell{
  margin:0 auto!important;
}

#globalHeader{
  position:inherit!important;
}

.gbhdr form{
  margin: 0;
  padding: 0;
}

.hdrCtr{
  margin-bottom: 10px;
  position: relative;
}

.hdrCtr img{
  border: 0;
}

.logobar{
  margin-bottom: 10px;
}

.logobarSep{
  margin-bottom: 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cacaca;
}

.logobar .logoimg img{
  margin-top: 10px;
}

.greeting{
  vertical-align: bottom;
  margin: 35px 15px 0 10px;
  display: block;
}

.greeting a:active,.greeting a:link,.greeting a:visited{
  text-decoration: none;
  font-family: Arial;
  color: #0040b2;
  font-size: 13px;
}

.greeting a:hover{
  text-decoration: underline;
  font-family: Arial;
  color: #0040b2;
  font-size: 13px;
}

div.pnav{
  position: absolute;
  top: 5px;
  right: 0;
  margin: 0;
  padding: 0;
  padding-right: 30px;
}

div.pnav div{
  margin: 0;
  padding: 0;
  position: relative;
}

div.pnav table td{
  white-space: nowrap;
  line-height: normal;
}

div.pnav td a:active, div.pnav td a:link, div.pnav td a:visited, div.pnav td a:hover{
  color: #0040b2;
  font-weight: bold;
  font-family: Arial;
  font-size: 13px;
  white-space: nowrap;
  padding: 0 11px 9px 9px;
  display: block;
  text-decoration: none;
  position: relative;
  line-height: normal;
}

div.pnav td.fc a:active, div.pnav td.fc a:link, div.pnav td.fc a:visited{
  padding: 0 11px 9px 9px;
}

div.pnav td.lc a:active, div.pnav td.lc a:link, div.pnav td.lc a:visited{
  border-style: none;
  padding: 0 5px 9px 9px;
}

div.pnav td a:hover, div.pnav td.lc a:hover{
  text-decoration: underline;
}

.hovered{
  background-image: url(imgSpacerWhite_1x2.gif);
  background-position: left bottom;
  background-repeat: repeat-x;
}

.dynmenu{
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}

.dynmenubrdr table{
  margin: 0 3px;
  padding: 0;
  width: 100%;
}

.dynmenubrdr td{
  font-family: verdana;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-size: x-small;
  color: 40 B2;
}

.dynmenubrdr td b{
  display: block;
  padding: 5px;
  white-space: nowrap;
  font-size: .85em;
}

.dynmenubrdr a:active,.dynmenubrdr a:link,.dynmenubrdr a:visited,.dynmenubrdr a:hover{
  display: block;
  padding: 3px 0 9px;
  white-space: nowrap;
  font-size: x-small;
  color: #0040b2;
  text-decoration: none;
  position: relative;
}

.dynmenubrdr a:hover{
  text-decoration: underline;
}

#cobrandFooter{
  text-align: left;
}

.greeting span{
  display: block;
  font-family: Arial;
  font-size: small;
}

.greeting #bta{
  color: #9e9e9e;
  display: inline;
}

.greeting #bta a{
  color: #0040b2;
  font-family: arial;
  font-weight: bold;
  font-size: small;
  display: inline;
}

td.mr .greeting{
  white-space: nowrap;
}

span.coupon{
  vertical-align: bottom;
  margin: 35px 15px 0 0;
  display: block;
}

span.vibrant{
  white-space: nowrap;
}

span.coupon span, span.coupon img{
  white-space: nowrap;
  font-family: Verdana;
  font-size:13px!important;
}

span.rebate img{
  float: left;
}

span.coupon a:active, span.coupon a:link, span.coupon a:visited, span.coupon a:hover{
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

span.reward{
  vertical-align: bottom;
  margin-left: 10px;
  background: url(imgBucks_35x13.gif) no-repeat bottom left;
  white-space: nowrap;
}

span.txtreward{
  margin-left: 40px;
  vertical-align: bottom;
}